# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
.env
/dataSources.local.xml
node_modules/
# Node.js cache
/.cache/
# Node.js cache
/.nyc_output/
# Node.js cache
/.vscode/
# Node.js cache
/.vscode-server/
# Node.js cache
/.vscode-server/data/
# Node
/.nvm/
# Node
/.npm/
# Node
/.pnpm/
# Node
/.pnpm-store/
